<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/fa75e0dafd.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="/FRONTEND/Css/style.css" /> 
        <title>Appareil Photo Vintage Orinoco - Accueil</title>
    </head>

    <body>
        <div id="bloc_page">
            <header class="header">
                <a href="index.html">
                    <img class="logo" src="/BACKEND/images/logo.png" alt="logo Orinoco"/>
                </a>
                <nav class="nav">
                    <ul class="menu">
                        <li class="liste">
                            <a href="/FRONTEND/View/panier.html">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>

            <main class="main">
                <div class="container container-fluid">
                <!--présentation des produits-->
                    <div class="presentation">
                        <h1 class="h1">Appareils Photo Vintage</h1>
                    </div>
                    <div class="box form-row">
                    </div>
                </div>
            </main>
        </div> 
        
        <!--script-->
        <script src="/FRONTEND/Js/index.js"></script>
    </body>

   

</html>